/* -----------------------------------------------------------------------------------------
                                     ABOUT SECTION
----------------------------------------------------------------------------------------------*/
.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0;
}

.about-content {
  width: min(70%, 900px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.about-content h2 {
  font-size: 2.5rem;
  color: cyan;
  margin-bottom: 10px;
}

.about-content h4 {
  font-size: 1.5rem;
  color: #0ef;
  margin-bottom: 15px;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ccc;
  margin-bottom: 20px;
}

.more-abt a {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

.more-abt a:hover {
  box-shadow: 0 0 10px cyan, 0 0 25px cyan;
}

/* ----------------------------responsive css----------------------------- */
@media screen and (max-width: 1200px) {
  .about {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}

